@import url(term.css);

body {
  font-family: 'HYWenHei', 'Noto Sans SC', sans-serif;
  /* font-family: 'Noto Serif SC', serif; */
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Noto Serif SC', serif;
  font-weight: 900;
}

.cover-main h1 span {
  font-weight: 900;
}

.app-name a {
  font-size: 2rem;
  font-weight: 900;
}

.sidebar .sidebar-nav>ul>li a {
  font-family: 'Noto Serif SC', serif;
  font-size: 16px;
  font-weight: 600;
  margin: 0
}

/* 加粗 */
.bold,
.bold .katex {
  font-weight: 700;
}

.katex .cjk_fallback {
  font-family: 'Noto Serif SC', serif;
  font-size: 1.05rem;
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #42b983;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: #ecf8f2;
}
